@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">*_* AlYamani Book Stor *_*<br/><hr/></h1>
    <br/><br/><br/>
    <h1 class="display-4">... The Discussion  ...<br/></h1>
    <hr/>
    <br/><br/><br/><br/><br/>
    <p>This Project Done By : Ghamdan Mohammed Mohammed Al-Yamani</p>
    <br/><br/>
    <p>My ID Number : 21_16_4054</p>
</div>
