@{
    ViewData["Title"] = " The Conclusion";
}
<h1>@ViewData["Title"]</h1>
 <br/><br/>
<h1 class="display-4"> --> Think You For Using Me Project    :) </h1>
 <br/><br/><br/>
 <hr/>
<h1 class="display-4"> --> Have A Good Day ... Sallam *_* </h1>
