@model Admin

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="A_Id" />
        <label  class="control-label">Welcome to Edite Admin Page <br>Enter The New Data Admin You Want to Edite --><hr></label>
	 <div class="form-group">
                <label asp-for="A_Name" class="control-label">Enter The New Name:</label>
                <input asp-for="A_Name" class="form-control" type="text" />
                <label asp-for="A_Email" class="control-label">Enter The New Email:</label>
                <input asp-for="A_Email" class="form-control" type="email" />
                <label asp-for="A_Password" class="control-label">Enter The New Password:</label>
                <input asp-for="A_Password" class="form-control" type="password" />
                <span asp-validation-for="A_Name" class="text-danger"></span>
       </div>
       <br>
       <input type="submit" class="btn btn-primary" value="Save"  />
</form>
<br>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" >Go To Home Page</a>
<br>
<a asp-action="index" class="btn btn-secondary" >Go To All Admin Data</a>